.chat-page {
	height: 100vh;
}
.color {
	background-color: white;
	border: 1px solid white;
}
.message-display {
	height: 90vh;
	border: 1px solid red;
	overflow: scroll;
}
#chat-form { 
}
#chat-input {

}
#chat-submit {

}